#%Module

set version 1.13
set swroot /usr/local/software/


proc ModulesHelp { } {
   global version 
   puts stderr "samtools for handling bamfiles"

samtools: $version
"
}

module-whatis "Samtools for  handling bamfiles"

# Compute the installation prefix
set pkgroot $swroot/samtools
set vroot $pkgroot/$version
set prefix $vroot

# We need to prereq the compiler to allow autohandling to work
prereq $compilerTag

# Set environment variables
setenv BAR_DIR $prefix

set bindir $prefix/bin
set libdir $prefix/lib
set incdir $prefix/include

prepend-path PATH$bindir
prepend-path LIBRARY_PATH    $libdir
prepend-path LD_LIBRARY_PATH $libdir
prepend-path CPATH$incdir

conflict samtools

